html,body {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 1em;
  text-align: center;
  background-image: url('/img/space.jpeg');
  background-size: cover;
  background-repeat: space;
}

h1, h2 {
  font-family: 'Black Ops one', monospace;
  color: gainsboro;
}

canvas {
  z-index: 3;
  width: 800px;
  height: 400px;
}

#container {
z-index: 1;
max-width: 50em;
background-position: center center; 
background-size: cover; 
background-repeat: no-repeat;
margin: 0 auto;
padding: 1em;
display: grid;
grid-gap: 1em;
grid-template-rows: .25fr .5fr .25fr;
grid-template-columns: .25fr .5fr .25fr;
grid-template-areas: "top-left top-left top-right"
                      "game game game"
                      "btm-left btm-right btm-right2";
}

#top-left, #top-right, #btm-left, #btm-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

#top-left {
  grid-area: top-left;
}

#top-right {
  grid-area: top-right;
}

main {
  grid-area: game;
}


#btm-left {
  grid-area: btm-left;

}

#btm-right {
  grid-area: btm-right;
}

#btm-right2 {
  grid-area: btm-right2;
}


#startgame {
  align-items: center;
  justify-content: center;
}

